.percent {
  padding-top: 120px;
  &__div {
    width: 350px;
    height: 14px;
    background-color: grey;
    border-radius: 4px;
    margin-top: 25px;
    span {
      display: block;
      height: 100%;
      background: #ffa501;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, auto));
    grid-template-rows: repet(2, minmax(70px, auto));
    grid-column-gap: 45px;
    grid-row-gap: 30px;
    grid-auto-rows: 1fr;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
}
